In [22]:
import pandas as pd
import numpy as np
bat = {'playerID': [1, 2], 'yearID': [2019, 2019], 'stint': [2, 2], 
                             'teamID': [9, 9], 'lgID': [20, 21],'somecol1': [29, 28],
                             'somecol2': [30, 31]}
field = {'playerID': [1,4], 'yearID': [2012, 2012], 'stint': [1, 1], 
                             'teamID': [12, 12], 'lgID': [22, 23]}
batting_data = pd.DataFrame(data=bat)
batting_data

   playerID  yearID  stint  teamID  lgID  somecol1  somecol2
0         1    2019      2       9    20        29        30
1         2    2019      2       9    21        28        31

In [23]:
fielding_data = pd.DataFrame(data=field)
fielding_data

   playerID  yearID  stint  teamID  lgID
0         1    2012      1      12    22
1         4    2012      1      12    23

In [24]:
join_data = pd.merge(batting_data, fielding_data, 
  on = "playerID", indicator = True)
join_data

# JOin occurs because 1 id is present in both
# Can test by manipulating the dataframes

,playerID,yearID_x,stint_x,teamID_x,lgID_x,somecol1,somecol2,yearID_y,stint_y,teamID_y,lgID_y,_merge
0,1,2019,2,9,20,29,30,2012,1,12,22,both

In [25]:
def test_join(batting_data, fielding_data):
  joined_data = pd.merge(batting_data, fielding_data, 
  on = ["playerID", "yearID", "stint", "teamID", "lgID"])
  return joined_data

# No join because no agg match

In [26]:
 test_join(batting_data, fielding_data)

Empty DataFrame
Columns: [playerID, yearID, stint, teamID, lgID, somecol1, somecol2]
Index: []

In [27]:
bat = {'playerID': [1, 2], 'yearID': [2019, 2019], 'stint': [2, 2], 
                             'teamID': [9, 9], 'lgID': [20, 21],'somecol1': [29, 28],
                             'somecol2': [30, 31]}

field = {'playerID': [1, 2], 'yearID': [2019, 2019], 'stint': [2, 2], 
                             'teamID': [9, 9], 'lgID': [20, 21]}

In [28]:
batting_data = pd.DataFrame(data=bat)
batting_data
fielding_data = pd.DataFrame(data=field)
fielding_data

   playerID  yearID  stint  teamID  lgID
0         1    2019      2       9    20
1         2    2019      2       9    21

In [43]:
new_df= test_join(batting_data, fielding_data) 
new_df

   playerID  yearID  stint  teamID  lgID  somecol1  somecol2
0         1    2019      2       9    20        29        30
1         2    2019      2       9    21        28        31

In [44]:
#MATCH occurs and is as expected, our fucntion works ok.

In [51]:
from pandas.util.testing import assert_frame_equal

expected ={'playerID': [1, 2], 'yearID': [2019, 2019], 'stint': [2, 2], 
                             'teamID': [9, 9], 'lgID': [20, 21],'somecol1': [29, 28],
                             'somecol2': [30, 31]}

expected_df = pd.DataFrame(data=expected)
assert_frame_equal(expected_df, new_df,check_like=True)
assert_frame_equal

<function pandas.util.testing.assert_frame_equal(left, right, check_dtype=True, check_index_type='equiv', check_column_type='equiv', check_frame_type=True, check_less_precise=False, check_names=True, by_blocks=False, check_exact=False, check_datetimelike_compat=False, check_categorical=True, check_like=False, obj='DataFrame')>

In [ ]:
# since no errors are being shown, function works correctly.